.fc {
    width: 99%;
    margin: 50px 0 0 0;
}

.fc-header {
    border: none;
}

.fc-header-title h2 {
    white-space: normal;
    font-size: 18px !important;
    padding: 0 10px !important;
}

.fc-col-header {
    margin: 0;
}

.fc-event {
    margin: 5px 0 5px 0;
    padding: 5px 10px;
    text-shadow: none;
    transition: all 0.3s ease 0s;
}

.fc-event:hover {
    background: #b00 !important;
    border-color: #b00 !important;
    text-decoration: none;
}

.fc-event-time {
    display: none;
}

.fc-event.fc-start {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.fc-event.fc-end {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fc-scroller {
    overflow-y: hidden !important;
}

.fc-day-grid-event .fc-content {
    white-space: normal;
}

.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
    padding-left: 10px;
}

.fc .fc-col-header-cell a {
    color: #111;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #fdd;
}

#calendar-footer {
    margin: 20px 0 60px 0;
    text-align: center;
}
